colorama
Flask
fish-audio-sdk
openai
pandas
psutil
PyAutoGUI
Requests
urllib3
certifi
snownlp
SQLAlchemy
tenacity
Werkzeug
wxautold==3.9.11.17.5
apscheduler==3.10.4
python-dateutil==2.9.0.post0
dateparser==1.2.0
pygame
pytz==2024.1
python-dotenv==1.0.1
schedule
uiautomation
emoji==2.10.1
cryptography>=3.0.0
zhdate
httpx-ws==0.7.2
